@import '../../../../../theme/variables.scss';

.infoBox {

    width: 100%;
    height: 100%;
    background: whitesmoke;

    .infoBox__toolbar {

        height: 10vh;
        width: 100%;
        background: $mainColor;
        padding: 1em;
        display: flex;
        align-items: center;

        .infoBox__button {

            margin: auto 0.3em;
            border-radius: 50%;
            color: white;
            background: transparent;
            border: none;
            transition: $smoothTrans;
            font-size: 1.2rem;
        
            &:hover {
        
                background-color: transparent;
                opacity: .7;
                color: white;
            }
        
            &:active, &:visited, &:focus, &:checked {
        
                box-shadow: 0px 0px 10px white !important;
                background-color: transparent;
                color: white;
        
            }

        }

        .infoBox__title {

            color: white;
            font-weight: light;
            font-size: 1.5rem;
            margin-left: 1em;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;

        }

    }

    .infoBox__container {

        width:100%;
        height: 90vh;
        background: whitesmoke;
        overflow-x: scroll;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em;

        .infoBox__title {

            margin: 1em;
            color: $mainColor;

        }

        .infoBox__avatar {

            position: relative;
            min-height: 250px;
            min-width: 250px;
            border-radius: 50%;
            overflow: hidden;
            border: 10px solid white;
            box-shadow: 0px 0px 10px rgba($shadeMain, .5);
            @include centerItems(row, center);
    
            img {
    
                object-fit: cover;
                border-radius: 50%;
    
            }
    
    
        }
    
        .infoBox__infoSection {

            margin: 5em;
            width: 50%;
            height: fit-content;
            display: flex;
            flex-direction: column;
    
            .infoBox__grid {

                position: relative;
                display: grid;
                grid-template-columns: 70% 30%;
                grid-template-rows: 50% 50%;
                grid-gap: 2em;

            }

            .infoBox__card {

                height: 100%;
                background: white;
                box-shadow: 0px 0px 15px 0px rgba($shadeMain, .3);
                border-radius: 12px;
                padding: 1em;

            }

            .admin {

                grid-row: 1/3;

            }

            .infoBox__title {

                margin: .5em;
                padding: 0;
                font-weight: bold;

            }

            .infoBox__info {

                height: 50%;
                @include centerItems(column, center);

            }

            .infoBox__description {

                position: relative;
                margin-bottom: 5em;
                display: flex;
                flex-direction: column;
                align-items: center;                

            }
    
        }

    }

}
